<?xml version="1.0" encoding="UTF-8"?>
<wookie xmlns="http://bio-gene.org/Config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<databases main="virtuoso">
		<database id="curl" type="curl">
			<endpoint uri="bio-gene.org:8000/sparql/" />
			<update-endpoint uri="bio-gene.org:8000/update/" />
			<curl-url url="http://localhost/sparql-graph-crud-auth" />
			<curl-command command="curl --digest --user $USER:$PWD --url '$CURL-URL?graph-uri=$GRAPH-URI' $UPLOAD-TYPE -T $FILE"/>
			<curl-drop command="curl -X DELETE $GRAPH-URI --url '$CURL-URL'"/>
			<curl-update command="curl -i -d '$UPDATE' -u '$USER:$PWD' -H 'Content-Type: application/sparql-query' --url 'http://$ENDPOINT'"/>
		</database>
		<database id="implcurl" type="lib">
			<class value="org.bio_gene.wookie.connection.TestConnection"/>
			<type value="keineAhnung"/>
			<endpoint value="localhost/sparql" />
			<user value="dba" />
			<pwd value="dba" />
			<asdasfd value="I DONT KNOW"/>
			<auth-type value="DIGEST"/>
		</database>
		<database id="impl" type="impl">
			<endpoint uri="bio-gene.org:8890/sparql-auth" />
			<user value="dba" />
			<pwd value="dba" />
		</database>
	</databases>
</wookie>